/*--------------------------------------------------------------
Site
--------------------------------------------------------------*/
a{
  .transition(color);
}
.tm-site{
  @media (min-width: @breakpoint-medium) {
    border: @site-frame solid @white;
  }
}
.tm-main{
  background: @global-background;
}
