/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.tm-footer{
  background: @secondary-color;
  color:@white;
  h2,h3,h4,h5,h6{
    color: @white;
  }
  h3{
    font-size: 40px;
    font-family: "Choplin Medium-DEMO", Georgia, serif;
    @media (max-width: @breakpoint-medium-max) {
      font-size: 32px;
    }
  }
  h4{
    @media (max-width: @breakpoint-medium-max) {
      font-size: 28px;
      margin: 15px auto;
      line-height: 28px;
    }
    font-size: 25px;
    font-weight: 400;
    font-family: @base-body-font-family;
  }
  .street{
    width: calc(50% - 10px);
    border-right: 1px solid @white;
    font-size: 28px;
    font-weight: 400;
    @media (max-width: @breakpoint-medium-max) {
      width: 100%;
      border: none;
      margin: 15px 10px 0 0px;

    }

  }
  .open-hours{
    border-left: 1px solid @white;
    padding-left: 15px;
    padding-right: 40px;
    margin-left: 4px;
    font-family: @base-body-font-family;
    font-size: 28px;
    font-weight: 400;
    @media (max-width: @breakpoint-medium-max) {
      width: 100%;
      border: none;
      margin: 15px 10px 0 10px;

    }
  }
  .phone{
    margin: 34px 0 0 0;
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
    font-family: @base-body-font-family;
    @media (max-width: @breakpoint-medium-max) {
      font-size: 40px;
    }
  }
  .call{
    font-size: 23px;
    font-weight: 400;
    font-family: @base-body-font-family;
    margin: 15px 0;

  }
  .socials{
    margin-top: 15px;
    a{
      @media (max-width: @breakpoint-medium-max) {
        margin: 15px 5px;
      }
    }
    img{
      margin-right: 17px;
    }
  }
  .members{
    @media (max-width: @breakpoint-medium-max) {
      margin-top: 10px;
      justify-content: center;
    }
    a{
      margin: 0px 17px 10px 3px;
      @media (max-width: @breakpoint-medium-max) {
        margin: 15px 5px;
      }
    }

  }
}
.tm-fat-footer{
  background: @bg-grey;
}