/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tm-header{
  border-bottom:none;
  padding: @global-margin;
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 92px;
  background-color: rgba(255, 255, 255, .70);
  @media (max-width: @breakpoint-medium-max) {
    .tm-primary-menu{
      .uk-button:hover{
        background: none;
      }
      a{
        margin-top: 50px;
        color: @white;
        border: none;
        color: #ffffff;
        font-family: @base-heading-font-family;
        font-size: 25px;
        font-weight: 500;
        &:hover{
          text-decoration: underline;
        }
        i{
          display: none;
        }
      }
    }
    position: relative;
    padding: 0;
    background-color: #472f2d;
  }
  ul{
    margin-top: 31px;
    li{
      margin: 0 2px;
    }
    li:nth-child(1){
      margin: 0 5px 0 0;
      background-color: @white;
      opacity: 0.9;
      border: 2px solid #8e3924;
      height: 40px;
      &:hover{
        background-color: #8e3924;
        -webkit-transition: background 200ms ease-in-out, color 200ms ease-in-out;
        transition: background 200ms ease-in-out, color 200ms ease-in-out;
        transition-property: background, color;
        transition-duration: 200ms, 200ms;
        transition-timing-function: ease-in-out, ease-in-out;
        a{
          color: @white!important;
        }
      }
    }
    li:nth-child(2){
      margin: 0 20px 0 0;
      background-color: #8e3924;
      opacity: 0.9;
      color: white;
      border: 2px solid #8e3924;
      height: 40px;
      &:hover{
        background-color: @white;
        -webkit-transition: background 200ms ease-in-out, color 200ms ease-in-out;
        transition: background 200ms ease-in-out, color 200ms ease-in-out;
        transition-property: background, color;
        transition-duration: 200ms, 200ms;
        transition-timing-function: ease-in-out, ease-in-out;
      }
      a{
        color: @white;
      }
    }
  }
  .tm-logo{
    margin-top: -45px;
  }
  .free-estimate{
    cursor: pointer;
    width: 64px;
    height: 169px;
    box-shadow: 1px 6px 6px 1px rgba(0, 0, 0, 0.33);
    background-color: #dfa722;
    right: 0;
    top: 130px;
    h5{
      width: 145px;
      font-size: 20px;
      line-height: 20px;
      margin: 0;
      padding: 0;
      text-shadow: 1px 2px 6px rgba(255, 255, 255, 0.68);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  .free-estimate-offcanvas{
    border-left: 2px solid #8e3924;
    background-color: @white;
    padding: 25px;
  }
  .header-call{
    .uk-container:nth-child(1){
      height: 0;
      @media (max-width: @breakpoint-medium-max) {
        margin: 0px;
        width: 100%;
        padding: 0;
      }
    }
  }
}

.tm-site-branding{
  a{
    font-weight: 400;
    color: @global-color;
    text-transform: uppercase;

  }
}
.hero-area{
  position: relative;
  .uk-overlay{
    position: absolute;
    background-color: rgba(71, 47, 45, 0.25);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .uk-article-title{
    padding-top: 160px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.71);
    color: #ffffff;
    font-family: @base-body-font-family;
    font-size: 55px;
    font-weight: 600;
    line-height: 59px;
    text-transform: uppercase;
  }

}
header-call {
  @media (max-width: @breakpoint-medium-max) {
    .uk-container {
      margin: 0;
    }
  }
}
.header-call-info{
  font-size: 18px;
  @media (min-width: @breakpoint-medium-max){
    h4{
      display: inline-flex;
    }
  }
  @media (max-width: @breakpoint-medium-max) {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 48px;
    background-color: #8e3924;
    opacity: 0.95;
    h4 {
      margin: 0;
      a {
        color: @white;
        line-height: 48px;
        text-decoration: underline;
        &:before{
          content: ' ';
          background: url("../../images/phone-icon.png");
          width: 34px;
          height: 34px;
          position: absolute;
          top: 5px;
          left: 18%
        }
      }
    }

  }
  h4 a{
    font-size: 20px;
    font-weight: 600;
  }
}
.tm-header.uk-active .uk-navbar-nav > .floors > a{
  color: @white;
}
