/*--------------------------------------------------------------
Header nav
--------------------------------------------------------------*/
.uk-navbar-nav {
  float: none;
}
.tm-header{
  .uk-navbar-nav > li > a{
    color: @global-color;
    font-weight: 600;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover{
      color:@primary-color;
    }

  }
  &.uk-active {
    .uk-navbar-nav > li > a {
      color: @global-color;
      font-weight: 600;
      &:hover{
        color: @primary-color;
      }
    }
  }
}

.uk-offcanvas-bar{
  .logo{
    display: none;
  }
}