//Filters
.gallery-filter{
  .filter-title{
    margin-bottom: 40px;
  }
  margin-bottom: 50px;
  li{
    margin-bottom: 10px;
  }
  .uk-overlay-panel{
    margin-left: 10px;
  }
}
.uk-overlay{
  .uk-overlay-background{
    opacity: 1;
    .transition();
  }
  &:hover{
    .uk-overlay-background{
      opacity: 0;
    }
  }
}
.filter-name{
  font-family:@base-body-font-family;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.71);
  font-size:20px;
}

.cat-filter{
  a{
    border:4px solid @primary-color;
    padding: 5px 10px;
    color:@primary-color;
    .transition();
    &:hover{
      color:@white;
      background: @primary-color;
      
    }
    &[href*='uncategorized']{
      display: none;
    }
  }
}

//archive
.blog, .archive {
  .post {
    img {
      @media (min-width: @breakpoint-medium) {
        float: left;
        margin-right: 40px;
      }
    }
  }
}
