.featured-clients{
  margin: 80px auto;
  @media (max-width: @breakpoint-medium-max) {
    margin: 0;
  }
    .featured-clients-title{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 75px;
      @media (max-width: @breakpoint-medium-max) {
        font-size: 30px;
        margin: 55px auto 25px;
      }
  }
  .uk-grid .uk-panel{
    @media (max-width: @breakpoint-medium-max) {
      margin: 15px auto 50px;
    }
  }
}
