.galleries{
  margin: 28px 0;
  .uk-grid{
    @media (max-width: @breakpoint-medium-max) {
      margin: 0;
    }
  }
  @media (max-width: @breakpoint-medium-max) {
    margin: 0;
  }
  .uk-grid{
    img{
      width: 290px;
    }

    @media (max-width: @breakpoint-medium-max) {
      img{
        width: 100%;
        height: 77px;
      }
      .gallery-title{
        width: 100%;
      }
      .gallery-link{
        width: 100%;
      }
      .uk-overlay{
        width: 100%;
      }
    }
    .gallery-title{
      z-index: 9999;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      justify-content: center;
      align-items: center;
      display: flex;
      text-shadow: @text-shadow;
      color: @white;
      font-family: @base-body-font-family;
      font-size: 28px;
      font-weight: 600;
    }
    .uk-panel{
      @media (max-width: @breakpoint-medium-max) {
        padding: 0;
        margin: 8px 0 0;
      }
    }

      .uk-overlay{
        &:hover{
          .uk-overlay-panel{
            opacity:0;
          }
        }
        .uk-overlay-panel{
          background-color: @overlay-color;
          opacity: 1;
          .transition();
        }
      }


  }
}