@text-shadow: 1px 2px 4px  rgba(0, 0, 0, 0.71);

.home-slider{
  .uk-grid{
    @media screen and (max-width: @breakpoint-medium-max) {
      margin-left: 0;
    }
  }
  @media screen and (max-width: @breakpoint-medium-max) {
    margin-bottom: 10px;
  }
  margin-bottom: 25px;
  .uk-slideshow{
    .uk-overlay-panel{
      //center flexgrid
      left: -40px/2!important;
      .uk-overlay-background{
        background: rgba(0,0,0,0.4);
        padding: 20px 40px 10px 40px;
        @media screen and (max-width: @breakpoint-medium-max) {
          padding: 5px 10px 5px 10px;
        }
        .slide-text{
          font-size: 55px;
          font-weight: 600;
          font-style: italic;
          text-shadow: @text-shadow;
          max-width: 726px;
          line-height: 59px;
          letter-spacing: 3px;
        }
        .slide-link{
          text-shadow: @text-shadow;
          color: @white;
          font-size: 22px;
          font-weight: 400;
          line-height: 59px;
          text-decoration: underline;
          text-transform: uppercase;
        }
      }
    }
  }
  .uk-slidenav-position .uk-slidenav-previous{
    left: 10vw;
  }
  .uk-slidenav-position .uk-slidenav-next{
    right: 10vw;
  }

  .galleries{
    .uk-grid{
      .gallery-title{
        top: -20px;
        font-style: italic;
      }
      .gallery-title-button{
        top: 110px;
        width: 253px;
        height: 45px;
        left: 0;
        right: 0;
        font-size: 16px;
        background: rgba(255,255,255,.2);
        border: 1px solid #ffffff;
        font-style: normal;
        text-decoration: underline;

      }
      .gallery-link{
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.71);
        color: #ffffff;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-weight: 400;
      }
      img{
        height: 165px;
      }
      .uk-panel{
        margin: 0 auto 5px;
        .uk-overlay .uk-overlay-panel{
          background: rgba(0,0,0,0.4)!important;
        }
      }
    }
  }
}
.uk-slidenav-previous:before {
  content: url("../../images/arrow-left-wood.png");
}

.uk-slidenav-next:before {
  content: url("../../images/arrow-right-wood.png");

}
.uk-slidenav-position .uk-slidenav-previous,
.uk-slidenav-position .uk-slidenav-next{
  display: block;
}

.gallery-slideshow{
  .uk-slideshow,
  .uk-subnav{
    max-width: 850px;
    margin: 0 auto;
  }
  .uk-subnav{
    li{
      padding-left: 0;
      margin-top: 30px;
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .uk-slidenav-previous{
    left:0;
  }
  .uk-slidenav-previous,
  .uk-slidenav-next{
    top:250px;
    display: none;
    @media (min-width: @breakpoint-xlarge){
      display: block;
    }
  }

}
.hide{
  display: none;
}
.show{
  display: block;
}

