section.testimonials {
  background: url("../../images/testimonials.png");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 565px;
  @media (max-width: @breakpoint-medium-max) {
    height: auto;
    padding-bottom: 90px;
  }
  .uk-container {
    padding-top: 200px;
    .testimonial p {
      @media (max-width: @breakpoint-medium-max) {
        font-size: 30px;
      }
      font-family: @base-body-font-family;
      font-size: 40px;
      line-height: 40px;
      font-weight: 600;
      max-width: 730px;
      margin: 0 auto;
    }
    .author {
      @media (max-width: @breakpoint-medium-max) {
        font-size: 30px;
      }
      font-family: @base-body-font-family;
      font-size: 30px;
      font-weight: 600;
      margin: 0 100px 0;
    }
    .uk-button {
      border: 3px solid #8e3924;
      font-size: 23px;
      width: 271px;
      height: 55px;
      margin: 10px;
      &:hover {
        //background: none;
        //text-decoration: underline;
        //color: black;
      }
      @media (max-width: @breakpoint-medium-max) {
        margin: 5px;
      }
    }
  }

}


  .testimonials:before {
    content: url("../../images/q-sign.png");
    position: absolute;
    margin: 80px auto;
    left: 0;
    right: 0;
    text-align: center;
  }


.post-type-archive-testimonials {
  .testimonials {
    border: 1px solid @primary-color;
    .uk-article-title {
      font-size: 24px;
    }
    &:before{
      display: none;
    }
  }
}