h2{
  color: #472f2d;
  font-family: @base-heading-font-family;
  font-size: 35px;
  font-weight: 500;
}
p{
  color: #000000;
  font-family: @base-body-font-family;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
.page .tm-main {
  p{
    margin-left: 66px;
  }
}