.video-section{
  .uk-cover-object{
    margin-top: 16%;
  }
  .video-title {
    font-size: 45px;
    font-weight: 500;
    @media (max-width: @breakpoint-medium-max) {
      font-size: 30px;
    }
  }
  .video-subtitle{
    font-family: @base-body-font-family;
    font-size: 45px;
    font-weight: 400;
    @media (max-width: @breakpoint-medium-max) {
      font-size: 28px;
      line-height: 28px;
      margin: 10px 0 36px;

    }
  }
  .videoInsert {
    width: 100%;
  }
  .uk-height-viewport {
    min-height:200px;
  }
  .uk-cover{
    .uk-flex{
      height:0;
    }

    text-align: center;
    button{
      cursor: pointer;
      z-index: 888;
      position: relative;
      top: 170px;
    }
    #Play{
      content: '';
      background: url("../../images/polygon-1.png");
      width: 108px;
      height: 109px;
      border: none;
    }
    #Pause{
      opacity: 0;
      content: '';
      background: url("../../images/polygon-2.png");
      width: 108px;
      height: 109px;
      border: none;
    }
    &:hover{
      #Pause{
        opacity:1;
      }
    }
  }

}