.why-choose-us{
    .wcu-title{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 25px;
    @media (max-width: @breakpoint-medium-max) {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 15px;
    }
  }
  .wcu-subtitle{
    top: 25px;
    font-size: 44px;
    font-weight: 600;
    max-width: 746px;
    margin: 50px auto 20px;
    line-height: 44px;
    @media (max-width: @breakpoint-medium-max) {
      font-size: 22px;
      line-height: 22px;
      margin: 15px auto;
    }
  }
  .wcu-content{
    font-size: 34px;
    font-weight: 400;
    max-width: 846px;
    margin: 50px auto 20px;
    line-height: 34px;
    @media (max-width: @breakpoint-medium-max) {
      font-size: 18px;
      line-height: 18px;
      margin: 15px auto;
    }
  }
  .more-link{
    //text-shadow: @text-shadow;
    color: @black;
    font-size: 22px;
    font-weight: 400;
    line-height: 59px;
    text-decoration: underline;
    text-transform: uppercase;
    @media (max-width: @breakpoint-medium-max) {
      font-size: 20px;
      margin: 15px auto;


    }
  }
}
