/*--------------------------------------------------------------
sidebar
--------------------------------------------------------------*/
.tm-widget {
  margin-bottom: 40px;
}
.tm-secondary {
  margin-bottom: 100px;
}
