<section class="featured-clients">
    <div class="uk-container uk-container-center uk-text-center">
        <h2 class="featured-clients-title uk-text-center">{{ post.clients_title  | e('wp_kses_post') }}</h2>
        <div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-medium-1-4">
            {% for item in post.get_field('clients') %}

                <div class="uk-panel client-logo">
                    <a href="{{ item.link | e('esc_url') }}"
                       target="_blank">
                        {% set logo = TimberImage(item.logo) %}
                        <img src="{{ logo.src | e('esc_url') }}"
                             alt="{{ logo.alt | e('esc_html') }}">
                    </a>
                </div>

            {% endfor %}


        </div>
    </div>
</section>