<section class="galleries uk-flex uk-flex-center">
    <div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-medium-1-4">
        {% for item  in galleries %}
            <div class="uk-panel ">
                {% set img = TimberImage(item.taxo_image) %}
                {% set link = item.title_link %}
                <div class="uk-overlay">
                    <a href="{{ item.link | e('esc_url') }}"
                       class="gallery-link"><img src="{{ img | e('esc_url') |resize(290,220) }}"
                                                 alt="{{ img.alt | e('esc_html') }}">
                        <h3 class="gallery-title">{{ item.title  | e('wp_kses_post') }}</h3>
                        <div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle">

                        </div>
                    </a>
                </div>
            </div>

        {% endfor %}
    </div>
</section>