<div class="uk-container uk-container-center uk-text-center" data-uk-grid-margin>
    <div class="slider">
        <div class="uk-slidenav-position" data-uk-slideshow="{height:590, autoplay:true}">
            <ul class="uk-slideshow">
                {% for item in post.get_field('floor_gallery') %}
                    {% set img = TimberImage(item.image) %}
                    <li>
                        <a href="{{ img | e('esc_url') }}" data-uk-lightbox="{group:'walunt'}" title="">
                            <img src="{{ img | e('esc_url') }}"
                                 alt="{{ img.alt | e('esc_html') }}">
                        </a>
                    </li>

                {% endfor %}
            </ul>
            <a href="" class="uk-slidenav  uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
        </div>
        <ul >
        {% for item in post.get_field('floor_gallery') %}
            {% set img = TimberImage(item.image) %}
            {#<div class="uk-grid">#}
                    <li class="uk-thumbnail uk-thumbnail-small">
                        <a href="{{ img | e('esc_url') }}" data-uk-lightbox="{group:'walunt'}" title="">
                            <img src="{{ img | e('esc_url') }}"
                                 alt="{{ img.alt | e('esc_html') }}">
                        </a>
                    </li>
            {#</div>#}
        {% endfor %}
        </ul>

    </div>
</div>