<div class="hero-area uk-text-center">
    <div class="uk-overlay">
        <h2 class="uk-article-title">{{ title }}</h2>
    </div>
</div>
{% set img = TimberImage(image) %}
<style>

    .hero-area{
        background: url({{ img | e('esc_url') }}) ;
        -webkit-background-size:cover;
        background-size:cover;
        min-height:287px;
    }
</style>