<div class="home-slider">
    <div class="uk-slidenav-position uk-hidden-small" data-uk-slideshow="{height:590, autoplay:true}">
        <ul class="uk-slideshow">
            {% for item in post.get_field('home_slides') %}
                {% set img = TimberImage(item.image) %}
                <li>
                    <img src="{{ img | e('esc_url') }}"
                         alt="{{ img.alt | e('esc_html') }}">
                    <div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center">
                        <div class="uk-overlay-background">
                            <div class="slide-text">{{ item.text  | e('wp_kses_post') }}</div>
                            {% set link = item.link %}
                            <a class="slide-link" href="{{ link.url | e('esc_url') }}">{{ link.title  | e('wp_kses_post') }}</a>
                        </div>
                    </div>
                </li>

            {% endfor %}
        </ul>
        <a href="" class="uk-slidenav  uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
    </div>
    <div class="galleries uk-flex uk-flex-center uk-hidden-medium uk-hidden-large">
        <div class="uk-grid  uk-grid-width-medium-1-1">
            {% for item in post.get_field('home_slides') %}
                {% set img = TimberImage(item.image) %}
                <div class="uk-panel ">
                    {% set link = item.title_link %}
                    <div class="uk-overlay">
                        <img src="{{ img | e('esc_url') }}" alt="{{ img.alt | e('esc_html') }}">
                            <h3 class="gallery-title uk-text-center">{{ item.text  | e('wp_kses_post') }}</h3>
                        {% set link = item.link %}
                        <a class="slide-link uk-text-center gallery-title gallery-title-button" href="{{ link.url | e('esc_url') }}">{{ link.title  | e('wp_kses_post') }}</a>
                        <div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-bottom">
                            </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

</div>