<section class="testimonials">
    <div class="uk-container uk-container-center uk-text-center">
        <ul class="uk-slideshow"
            data-uk-slideshow="{autoplay:true}">
            {% for item in testimonials %}
                <li>
                    <div class="testimonial uk-text-center">
                        {{ item.content  | e('wp_kses_post') }}
                    </div>
                    <div class="author uk-float-right">- {{ item.title  | e('wp_kses_post') }}</div>
                </li>
            {% endfor %}

        </ul>
        <a href="/testimonials"><button class="uk-button uk-width-1-3">{{ options.reviews  | e('wp_kses_post') }}</button></a>
        <a href="{{ options.reviews_google_url }}"><button class="uk-button uk-width-1-3">{{ options.reviews_google  | e('wp_kses_post') }}</button></a>

    </div>
</section>