<section class="video-section">
    <div class="uk-container uk-container-center uk-text-center">
        <h2 class="video-title">{{ post.video_title  | e('wp_kses_post') }}</h2>
        <div class="video-subtitle">{{ post.video_subtitle  | e('wp_kses_post') }}</div>
    </div>

    <div class="uk-cover" style="height: 347px;">
        <div class="uk-flex uk-flex-middle uk-flex-center uk-flex">
            <button id="Play" class="" onclick="document.getElementById('myVideo').play(); document.getElementById('Pause').className='show'; document.getElementById('Play').className='uk-hidden';" type="button"></button>
            <button id="Pause" class="uk-hidden" onclick="document.getElementById('myVideo').pause(); document.getElementById('Play').className='show'; document.getElementById('Pause').className='uk-hidden';" type="button"></button>
        </div>
        {#<iframe width="100%" height="347" src="https://www.youtube.com/watch?v=ZiEUd_HP-DU" frameborder="0" allowfullscreen></iframe>#}
        <video id="myVideo" class="uk-cover-object" width="" height="" loop="" >
            <source src="http://youtubeinmp4.com/redirect.php?video=ZiEUd_HP-DU&r=yxgXvb1Dnh5DMLwK0IIbR5sifHXEAKndU1wnJWCL8wU%3D" type="video/mp4">
            {#<source src="http://youtubeinmp4.com/redirect.php?video=ZiEUd_HP-DU&r=yxgXvb1Dnh5DMLwK0IIbR5sifHXEAKndU1wnJWCL8wU%3D" type="video/ogg">#}
        </video>
    </div>
</section>
