<section class="why-choose-us">
    <div class="uk-container uk-container-center uk-text-center">
        <h2 class="wcu-title">{{ post.wcu_title  | e('wp_kses_post') }}</h2>
        <div class="wcu-subtitle">{{ post.wcu_subtitle  | e('wp_kses_post') }}</div>
        <div class="wcu-content">{{ post.wcu_content  | e('wp_kses_post') }}</div>
        {% set link = post.wcu_link %}
        <a href="{{ link.url | e('esc_url') }}"
           target="{{ link.target | e('esc_html') }}"
           class="more-link">{{ link.title  | e('wp_kses_post') }}</a>
    </div>
</section>