<div class="cat-filter">
    <ul class="uk-subnav">
    {% for item in categories %}
       <li><a href="{{ item.link | e('esc_url') }}">{{ item.title  | e('wp_kses_post') }}</a></li>
    {% endfor %}
    </ul>
</div>