<div class="uk-container-center " >
	<div class="uk-grid">
		<div class="uk-width-medium-1-2">
			<h3>{{ options.footer_title | e('wp_kses_post') }}</h3>
			<div class="uk-grid">
				<div class="uk-width-1-2 street">
					<h4>
                        {{ options.footer_adress  | e('wp_kses_post') }}
					</h4>
				</div>
				<div class="uk-width-1-2 open-hours">
					<h4>
                        {{ options.footer_open_hours  | e('wp_kses_post') }}
					</h4>
				</div>
			</div>
			<div class="phone">{{ options.footer_phone  | e('wp_kses_post') }}</div>
			<div class="call uk-hidden-small">{{ options.footer_call  | e('wp_kses_post') }}</div>
			<div class="socials uk-flex uk-flex-wrap">
                {% for item in options.footer_socials %}
					<a href="{{ item.link | e('esc_url') }}"
					   target="_blank">
                        {% set logo = TimberImage(item.logo) %}
						<img src="{{ logo.src | e('esc_url') }}"
							 alt="{{ logo.alt | e('esc_html') }}">
					</a>
                {% endfor %}
			</div>
		</div>
		<div class="uk-width-medium-1-2 uk-text-right">
			<div class="members uk-flex-right uk-flex-wrap uk-flex">
                {% for item in options.footer_members %}
					<a href="{{ item.link | e('esc_url') }}"
					   target="_blank">
                        {% set logo = TimberImage(item.logo) %}
						<img src="{{ logo.src | e('esc_url') }}"
							 alt="{{ logo.alt | e('esc_html') }}">
					</a>
                {% endfor %}
			</div>
		</div>
	</div>
</div>
