<div class="gallery-filter">
    <h2 class="filter-title uk-text-center">Filter by category</h2>
    <ul class="uk-subnav">
        {% for item in categories %}
            {% set url = function('add_query_arg','floor-categories', item.slug) %}
            {% set img = TimberImage(item.taxo_image) %}
            <li class="uk-overlay">
                <a href="{{ url }}" data-filter="{{ item.slug }}">
                    <img src="{{ img | e('esc_url') |resize(200,75) }}"
                         alt="{{ img.alt | e('esc_html') }}">
                    <div class="uk-overlay-panel uk-overlay-background"></div>
                    <div class="uk-overlay-panel">
                        <h3 class="filter-name uk-text-center">{{ item.title | e('esc_html') }}</h3>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="gallery-filter">
    <h2 class="filter-title uk-text-center">Filter by type</h2>
    <ul class="uk-subnav">
        {% for item in types %}

            {% set url = function('add_query_arg','floor-types', item.slug) %}
            {% set img = TimberImage(item.taxo_image) %}
            <li class="uk-overlay">
                <a href="{{ url }}" data-filter="{{ item.slug }}">
                    <img src="{{ img | e('esc_url') |resize(200,75) }}"
                         alt="{{ img.alt | e('esc_html') }}">
                    <div class="uk-overlay-panel uk-overlay-background"></div>
                    <div class="uk-overlay-panel">
                        <h3 class="filter-name uk-text-center">{{ item.title | e('esc_html') }}</h3>
                    </div>

                </a>
            </li>
        {% endfor %}
    </ul>
</div>