<div class="header-call">
    <div class="uk-container uk-container-center uk-text-right">
        <div class="header-call-info">
            <h4><div class="uk-hidden-medium uk-hidden-small">{{ options.header_contact_text | e('wp_kses_post') }} &nbsp;</div>

                <a href="tel:{{ options.header_contact_phone | e('wp_kses_post') }}">
                    {{ options.header_contact_phone | e('wp_kses_post') }}</a>
            </h4>
        </div>
    </div>
    <a class="free-estimate uk-position-absolute uk-flex uk-flex-center uk-flex-middle uk-text-center" href="#my-id" data-uk-offcanvas="mode:'slide'">
        <h5 class="uk-position-absolute">{{ options.header_free_estimate | e('wp_kses_post') }} </h5>
    </a>

    <div id="my-id" class="uk-offcanvas" aria-hidden="true">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip free-estimate-offcanvas" >
            <div class="uk-panel">
                {{ options.header_free_estimate_editor | e('wp_kses_post') }}
            </div>
        </div>
    </div>
</div>