<section class="gallery-slideshow">
    <div class="uk-slidenav-position"
         data-uk-slideshow="{height:550}">
        <ul class="uk-slideshow">
            {% for item in items %}
                {% set categories = item.terms('floor-categories') %}
                {% set types = item.terms('floor-types') %}
                <li class="slide{% for cat in categories %} {{ cat.slug }}{% endfor %}{% for type in types %} {{ type.slug }}{% endfor %}">
                <img src="{{ item.thumbnail }}"
                                       alt=""></li>
            {% endfor %}
        </ul>
        <a href=""
           class="uk-slidenav uk-slidenav-previous"
           data-uk-slideshow-item="previous"></a>
        <a href=""
           class="uk-slidenav uk-slidenav-next"
           data-uk-slideshow-item="next"></a>
        <ul class="uk-subnav">
            {% set i = -1 %}
            {% for item in items %}
                {% set thumb = item.thumbnail %}
                {% set i = i+1 %}
                {% set categories = item.terms('floor-categories') %}
                {% set types = item.terms('floor-types') %}
                <li class ="{% for cat in categories %} {{ cat.slug }}{% endfor %}{% for type in types %} {{ type.slug }}{% endfor %}" data-uk-slideshow-item="{{ i }}">
                    <a href="#">
                        <img src="{{ thumb | resize(110,110) }}"
                             alt="">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>