@import "partials/fonts";
@import "uikit/uikit";

@import "mymixins";
@import "initial-theme/animation";
@import "initial-theme/base";
@import "initial-theme/button";
@import "initial-theme/close";
@import "initial-theme/dotnav";
@import "initial-theme/dropdown";
@import "initial-theme/navbar";
@import "initial-theme/offcanvas";
@import "initial-theme/pagination";
@import "initial-theme/panel";
@import "initial-theme/slidenav";
@import "initial-theme/variables";

//@import "layouts/icon-text-boxes";
//@import "layouts/lightbox-gallery";
//@import "layouts/parallax";
//@import "layouts/slider";
@import "layouts/home-slider";
@import "layouts/four-boxes";
@import "layouts/text-area";
@import "layouts/spacer";
@import "layouts/why-choose-us";
@import "layouts/video-section";
@import "layouts/featured-clients";
@import "layouts/testimonials";

@import "partials/default";
@import "partials/typo";
@import "partials/footer";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/widgets";
@import "partials/content";
@import "partials/pages";

.home
{
  overflow-x: hidden;
  main{
    display: none;
  }
}